*
{
    padding: 0px;
    margin: 0px;

    scroll-behavior: smooth;
}

::-webkit-scrollbar
{
    width: 12px;
}
::-webkit-scrollbar-track
{
    background-color: rgb(14, 15, 14);
}
::-webkit-scrollbar-thumb
{
    transition: 1s;
    background: rgb(0, 0, 0);
    border-radius: 15px;
}

body
{
    background-color: rgb(44, 44, 43);
}

.navbar
{
  background-color: rgb(16, 14, 14);
  font-family: Arial Black;
  letter-spacing: 4px;
}

#titolo
{
  color: white;
  letter-spacing: 4px;
  font-size: 80px;
  font-family: Arial Black;
  letter-spacing: 10px;
  transition: 1s ease-in-out;
}

.titolo2
{
  color: white;
  letter-spacing: 4px;
  font-size: 20px;
  font-family: Arial Black;
  letter-spacing: 10px;
}

.SubTitolo
{
  font-size: 15px;
  letter-spacing: 2px;
  font-family: Arial Black;
}

.STitle
{
  font-weight: bolder;
  color: white;
  font-size: 15px;
}

.p
{
  text-align: center;
  color: white;
  font-size: 15px;
}

.arrow
{
    color: white;
    font-family: 'Helvetica Now Display', sans-serif;
    font-weight: bold;
    animation: arrow 1s infinite; 
}


.card {
  background-color: transparent;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}

.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}

.containerThree:hover {

  background-color: #0072b1;
  transition-duration: .3s;
}

.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}





/* LAYER */
  
.layer
  {
    background-image: url("/SRC/IMG/bg.png");
  
    min-height: 800px;

    background-color: rgb(135, 135, 0);
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .layer2
  {
    background-image: url("/SRC/IMG/bg.png");
  
    min-height: 800px;

    background-color: rgb(135, 135, 0);
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

/* KEYFRAME */

@keyframes arrow 
{
    0% { transform: translateY(0); } 
    50% { transform: translateY(50px); }
    100% { transform: translateY(0); }
}

@keyframes slide-in-top 
{
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}