*
{
  padding: 0;
  margin: 0;
}

body{
  border: 5px solid blue;
}

.home
{
  background-image: url('../IMG/sfondo.jpg');
  background-repeat: no-repeat;
 
  min-height: 1920px;
  min-width: 1080px;
  
}